<tr>
	<td class="date"><%= h cashflow.date %></span></td>
	<td class="cashflow_amount"><%= h cashflow.amount %></td>
	<td>
		<%= link_to "delete", cashflow, :method => :delete, :confirm => "You sure?" %>
	</td>
	
	
</tr>